<div class="row">
  <div class="col-md-9">
    <panel title="Edit Account Details">
      <app-account-edit></app-account-edit>
    </panel>
  </div>
  <div class="col-md-3">
    <panel title="Upload Profile Picture">
      <app-profile-picture-uploader></app-profile-picture-uploader>
    </panel>
    <panel title="Upload Background Picture">
      <app-background-picture-uploader></app-background-picture-uploader>
    </panel>

    <panel title="Change Password">
      <app-password-change></app-password-change>
    </panel>
  </div>
</div>
