
<!-- begin right-content -->
<div class="right-content" style="padding: 10px; ">
  <!-- begin register-content -->
  <div class="register-content">
    <form action="no-action" (submit)="onFormSubmit($event)">
      <!-- QUICK FORM-->
      <dx-form id="quickform" [formData]="user" [readOnly]="false" [showColonAfterLabel]="true"
        [showValidationSummary]="true" [labelLocation]="'top'" [minColWidth]="233" colCount="auto">

        <dxi-item dataField="password" [editorOptions]="{ mode: 'password', hint: 'At least 5 characters long' }">
          <dxo-label text="New Password">
          </dxo-label>
          <dxi-validation-rule type="required" message="Password is required">
          </dxi-validation-rule>
          <dxi-validation-rule type="stringLength" [min]="5" message="Password needs to be at least 5 characters long">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="confirmPassword" editorType="dxTextBox" [editorOptions]="{ mode: 'password' }">
            <dxo-label text="Confirm New Password">
              </dxo-label>
          <dxi-validation-rule type="required" message="Confirm Password is required">
          </dxi-validation-rule>
          <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
            message="Password and Confirm Password do not match">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item itemType="button" horizontalAlignment="right" [buttonOptions]="buttonOptions"
          [disabled]="registerActive">
        </dxi-item>
        <!-- Address -->

      </dx-form>


    </form>

  </div>
  <!-- end register-content -->
</div>
<!-- end right-content -->
<!-- </panel> -->
<!-- end panel -->
